body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: "Cairo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  color: #fff;
  text-align: center;
  margin: 5px;
  padding-top: 10px;
}

.game-container {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.welcome {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #ffd700;
  text-shadow: 0 0 8px #ffcc00;
}

.lang p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.lang span {
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3f51b5;
}


.lang .box {
  border: 1px solid #ccc;
  width: fit-content;
  margin: 30px auto;
  padding: 20px 70px;
}

.lang .box h2 {
  font-size: 26px;
  margin: 0 0 15px 0;
}

.lang .text {
  margin: 10px 0;
  font-size: 20px;

  span {
    display: inline;
    font-weight: bold;
    font-size: 22px;
  }


  .g {
    color: rgb(145, 240, 3);
  }

  .o {
    color: orange;
  }

  .r {
    color: red;
  }
}



button {
  background: #008cff;
  border: none;
  color: white;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.controls {
  align-items: center;
  margin-top: 10px;
}

button:hover {
  background: #00aaff;
}

button.hedin {
  display: none;
}

.agen.hedin {
  display: none;
}

.inputs>div {
  margin: 5px 0;
}

.inputs span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffcc00;
}

input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 2px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

input.green {
  background: #28a745;
  color: white;
}

input.orange {
  background: #ff9800;
  color: white;
}

input.red {
  background: #dc3545;
  color: white;
}

.agen {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.masege {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}

.masege span {
  color: #00ffcc;
  font-size: 2rem;
}